/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Light grey background */
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full viewport height */
  background-color: #f0f0f0; /* Light grey background for app */
  position: relative; /* Ensure proper layering */
}

.main-content {
  flex: 1 0 auto; /* Expands to fill space, pushing footer down */
}

.footer {
  flex-shrink: 0; /* Ensures the footer doesn't shrink */
  background-color: #333; /* Darker background for more contrast */
  color: white; /* White text for better readability */
  padding: 30px; /* Increase padding for more space */
  border-top: 3px solid orange; /* Add a border for emphasis */
}

.centered-text {
  margin-top: 20px;
}

.rotate-text {
  font-size: 24px;
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.beating-text {
  font-size: 5rem;
  color: orange;
  font-weight: bold;
  animation: beat 10s infinite;
}

@keyframes beat {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
