/* App.css */
.app {
  text-align: center;
  padding: 20px;
  min-height: 100vh; /* Ensure app fills the viewport */
  display: flex;
  flex-direction: column;
}

.navbar {
  margin-bottom: 20px;
}

.centered-text {
  margin-top: 20px;
}

.rotate-text {
  font-size: 24px;
  animation: rotate 20s infinite linear;
  -webkit-animation: rotate 20s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/* Footer styling */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin-top: auto; /* Push footer to the bottom */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  width: 300px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px; /* Center vertically */
  margin-bottom: -150px; /* Adjust bottom margin */
  margin-right: 1000px; /* Adjust right margin */
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; /* Space between columns and social media */
}

.footer-column {
  text-align: left; /* Align text left in columns */
  width: 50%; /* Ensure each column takes 50% of the available space */
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-social {
  display: flex;
  justify-content: center; /* Align links in the center */
  margin-top: 10px; /* Space above social media links */
}

.footer-social a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px; /* Space between social media links */
}
